<!DOCTYPE html>
<html layout:decorate="~{/layout/auth}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
</head>

<body>
<div class="register-box-body" layout:fragment="content">
    <p class="login-box-msg">Register a new membership</p>

    <form action="#"
          th:action="@{/register}"
          method="POST"
          th:object="${user}"
    >

        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
        </div>

        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" th:field="*{email}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Username" th:field="*{username}">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" th:field="*{password}">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <!--<div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Retype password" name="password_confirmation">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>-->
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"> I agree to the <a href="#">terms</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <a th:href="@{/login}" class="text-center">I already have a membership</a>
</div>

</body>
</html>

