<!DOCTYPE html>
<html layout:decorate="~{/layout/master}">
<head>
    <title>Save Sale</title>
</head>

<body>
<div layout:fragment="content">
    <h3>Point of Sale</h3>
    <hr>
    <form action="#" th:action="@{/sales/save}"
          th:object="${sale}"
          method="POST">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select name="product_sale" id="1" class="form-control"
                            th:field="*{productSales[0].product}">
                        <option value="">Select a product</option>
                        <option th:each="product : ${products}" th:text="${product.name} + ' #'+ ${product.packagingUnit.unitPrice} + 'per pack'" th:value="${product.id}"></option>
                    </select>
                </td>
                <td><input th:field="*{productSales[0].quantity}" type="text" class="form-control"></td>
                <td><input th:field="*{productSales[0].totalPrice}" type="text" class="form-control"></td>
            </tr>

            <tr>
                <td>
                    <select th:field="*{productSales[1].product}" name="product_sale" id="2" class="form-control">
                        <option value="">Select a product</option>
                        <option th:each="product : ${products}" th:text="${product.name} + ' #'+ ${product.packagingUnit.unitPrice} + 'per pack'"  th:value="${product.id}"></option>
                    </select>
                </td>
                <td><input th:field="*{productSales[1].quantity}" type="text" class="form-control"></td>
                <td><input th:field="*{productSales[1].totalPrice}" type="text" class="form-control"></td>
            </tr>

            <tr>
                <td>
                    <select th:field="*{productSales[2].product}" name="product_sale" id="3" class="form-control">
                        <option value="">Select a product</option>
                        <option th:each="product : ${products}" th:text="${product.name} + ' #'+ ${product.packagingUnit.unitPrice} + 'per pack'" th:value="${product.id}"></option>
                    </select>
                </td>
                <td><input th:field="*{productSales[2].quantity}" type="text" class="form-control"></td>
                <td><input th:field="*{productSales[2].totalPrice}" type="text" class="form-control"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-info col-2">Submit</button>

    </form>
    <hr>
</div>
</body>

</html>
