<!DOCTYPE html>
<html layout:decorate="~{/layout/master}">
<head>
    <title>Sale Directory</title>
</head>

<body>
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Date Sold</th>
            <td th:text="${sale.dateSold}"/>
        </tr>
        <tr>
            <th>Total Price</th>
            <td th:text="${sale.totalPrice}"/>
        </tr>
        <tr>
            <th>Sales Officer</th>
            <td th:text="${sale.salesOfficer.fullName}"/>
        </tr>

    </table>

    <h3>Products Sold</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="productSale : ${sale.productSales}">

            <td th:text="${productSale.product.name}"/>
            <td th:text="${productSale.quantity}"/>
            <td th:text="${productSale.totalPrice}"/>
        </tr>
        <tr>
            <th colspan="2">GRAND TOTAL</th>
            <td style="text-align: left; font-weight: bold" th:text="${sale.totalPrice}"/>
        </tr>

        </tbody>

    </table>
</div>
</body>
</html>

