<!DOCTYPE html>
<html layout:decorate="~{/layout/master}">
<head>
    <title>Save Product</title>
</head>

<body>
<div layout:fragment="content">
    <h3>Product Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Product</p>
    <form action="#" th:action="@{/products/save}"
          th:object="${product}"
          method="POST">

        <input type="hidden" th:field="*{id}">

        <label>Product Name</label>
        <input type="text"
               th:field="*{name}"
               class="form-control mb-4 col-4"
               placeholder="Name">

        <label>Description</label>
        <input type="text"
               th:field="*{description}"
               class="form-control mb-4 col-4"
               placeholder="Description">

        <label>Unit Quantity:The amount of base product in this package</label>
        <input type="number"
               min="1"
               th:field="*{packagingUnit.unitQuantity}"
               class="form-control mb-4 col-4"
               placeholder="Unit Quantity:The amount of base product in this package">

        <label>Stock Quantity:The amount of product in stock</label>
        <input type="number"
               min="1"
               th:field="*{packagingUnit.stockQuantity}"
               class="form-control mb-4 col-4"
               placeholder="Stock Quantity:The amount of product in stock">

        <label>Unit Price:price of this package</label>
        <input type="number"
               min="1"
               th:field="*{packagingUnit.unitPrice}"
               class="form-control mb-4 col-4"
               placeholder="Unit Price:price of this package">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
</div>
</body>

</html>
